.post {
    border-radius: 10px;
    height: 250px;
    margin: 25px;
    width: 60vw;
}

.post-votes {
    border-radius: 10px 0 0 10px;
    padding-top: 10px;
    width: 5%;
}

.vote-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.post-content {
    padding: 10px;
    width: 95%;
}

.post-details {
    width: 100%;
}

a {
    margin-right: 30px;
}

a:hover {
    cursor: pointer;
}

.author {
    text-decoration: underline;
}

.post-btns > a > span {
    margin-right: 5px;
}

