.header-btn {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    min-width: 6vw;
    width: 8vw;
}

.header-btn:first-child:hover {
    background-color: hsl(89, 41%, 80%);
}

.header-btn:nth-child(2) {
    margin-right: 10px;
}

.header-btn:nth-child(2):hover {
    background-color: #80b24b;
}

.header-btn + .header-btn {
    margin-left: 10px;
}

.home {
    cursor: pointer;
}

.brand {
    height: 30px;
    width: 110px;
}

.logo {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.header {
    height: 5vh;
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    width: 100vw;
}

.name {
    margin-right: 10px;
}

.profile {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.profile:hover {
    border: 2px solid #acaca7;
}

.profile-menu {
    position: fixed;
    top: 5vh;
    right: 0;
    width: 100px;
    z-index: 1;
}

.profile-menu-btn {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.profile-menu-btn:hover {
    background-color: #acaca7;
    color: #4c4c4c;
}