.vote-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.vote-btn:hover {
    color: #ffffff;
    background-color: #acaca7;
}

.voted {
    color: #ffffff;
    background-color: #acaca7;
}