.modal {
    background-color: rgba(0,0,0,0.4);
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.form {
    border-radius: 5px;
    height: 65vh;
    width: 55vw;
}

.form-container {
    height: 100%;
    width: 100%;
}

.form-field {
    margin-bottom: 10px;
    width: 100%;
}

.form-field-group {
    width: 50%;
}

.field {
    box-sizing: border-box;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

img {
    height: 65vh;
}

button {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.close {
    cursor: pointer;
    font-weight: 500;
    font-size: 40px;
    margin-right: 10px;
}

.close:hover {
    color: #848484;
}