.modal {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}

.form {
    border-radius: 5px;
    height: 65vh;
    width: 55vw;
}

.form-container {
    height: 100%;
    width: 100%;
}

.form-field {
    width: 100%;
}

.form-field:not(:last-child) {
    margin-bottom: 5px;
}

.form-field-group {
    width: 50%;
}

.field {
    box-sizing: border-box;
    font-size: 15px;
    padding: 15px;
    width: 100%;
}

.banner {
    width: 10vw;
    height: 65vh;
}

.btn {
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 14px;
    font-weight: 550;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.btn:hover {
    background-color: #80b24b;
}

.close {
    position: fixed;
    width: 45vw;
    z-index: 2;
}

.close-btn {
    cursor: pointer;
    font-weight: 500;
    font-size: 40px;
    margin-right: 10px;
}

.close-btn:hover {
    color: #848484;
}