.profile {
    height: 100vh;
    width: 100vw;
}

.profile-card {
    border: 2px solid #2c2c2c;
    border-radius: 10px;
    height: 20%;
    margin-top: 10px;
    padding: 15px;
    width: 35%;
}

.profile-container {
    width: 80vw;
}

.user-posts {
    overflow: scroll;
    width: 60%;
}